/divibleof7&notdivibleof5.py
/factorial.js
/swapNumbers.js
/1.png
/2.png
/3.png
/4.png
/5.png
/6.png
/1&2.jpeg
/factorOfNumber.js
/largestNumber.js
/largestPrimeFactorFinal.js
/primeNumber.js
/primeNumberInRange.js
/palindromeNumber.js
/reverseOfNumber.js
/hcfOfNumber.js
/lcmOfNumber.js
/squareOfSum.js
/sumOfSquares.js